<h2>Topics</h2>

<ul class="collection">
    <%= for %Discuss.Topic{title: title} <- @topics do %>
      <li class="collection-item"><%= title %></li>
    <% end %>
<ul>

<div class="fixed-action-btn">
  <%= link to: Routes.topic_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
